@page "/"

<PageTitle>Index</PageTitle>

<h1>Witaj </h1>
<h4>Portal Planowanie Pracy wspiera projektowanie grafiku dla Twojego zespołu.</h4>

Jesteś gotowy aby rozpocząć?!? 
<h3>Przejdź do logowania!</h3>

<SurveyPrompt Title="Planowanie Pracy." />
